---
layout: base.njk
title: The Creativity Playbook
showNav: false
---

<div class="cover-wrapper">
  <a href="/davestewart/" class="link-dave" aria-label="About Dave Stewart" title="Dave Stewart" data-label="Dave Stewart"></a>
  <a href="/content/mark-simmons/" class="link-mark" aria-label="About Mark Simmons" title="Mark Simmons" data-label="Mark Simmons"></a>
  <a href="/introduction/" class="link-intro" aria-label="Read the Introduction" title="Introduction" data-label="Introduction"></a>
  <a href="/content/chapter1/" class="link-sample" aria-label="Read a Sample Chapter" title="Sample Chapter" data-label="Sample Chapter"></a>
  <a href="/content/buy/" class="link-buy" aria-label="Buy The Creativity Playbook" title="Buy the Book" data-label="Buy the Book"></a>
  <a href="/content/thoughts/" class="link-thoughts" aria-label="Thoughts" title="Thoughts" data-label="Thoughts"></a>
  <a href="/content/contact/" class="link-contact" aria-label="Contact" title="Contact" data-label="Contact"></a>
  <img class="cover-full" src="/assets/img/cover.png" alt="The Creativity Playbook cover" />
</div>

<!-- <section class="hero">
</section> -->

<section class="quotes">
  <!-- {% for quote in quotes %}
  <blockquote>“{{ quote.text }}”</blockquote>
  {% endfor %} -->
</section> 